<div class="container content-box-large">
    <h1>##&en PAYMENT-SIMPLEPAY ##&hu FIZETÉS-SIMPLEPAY ##</h1>
    <div class="panel-heading">
        <div class="panel-title"></div>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>##&en Quantity ##&hu Mennyiség ##</th>
                    <th>##&en Item name ##&hu Megnevezés ##</th>
                    <th>##&en Descrition ##&hu leírás ##</th>
                    <th>##&en Netto Unit Price ##&hu Nettó egységár ##</th>
                    <th>##&en VAT ##&hu ÁFA ##</th>
                    <th>##&en Brutto Total ##&hu Bruttó összesen ##</th>
                </tr>
            </thead>
            <tbody>


                <% for(var i=0; i < p.items.length; i++) {%>
                    <tr>
                        <td>
                            <%= p.items[i].qty %>
                                <%= p.items[i].unit %>
                        </td>
                        <td>
                            <%= p.items[i].name %>
                        </td>
                        <td>
                            <%= p.items[i].info %>
                        </td>
                        <td>
                            <%= currency(p.items[i].net, p.currency, lang) %>
                        </td>
                        <td>
                            <%= p.items[i].vat %>%
                        </td>
                        <td>
                            <%= currency(p.items[i].brutto_sum, p.currency, lang) %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>

    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>##&en TOTAL netto ##&hu ÖSSZESEN netto ##</th>
                    <th>##&en TOTAL vat ##&hu Áfa összesen ##</th>
                    <th>##&en TOTAL payment ##&hu Összesen fizetendő ##</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <%- currency(p.netto, p.currency, lang) %>
                    </td>
                    <td>
                        <%- currency(p.vatsum, p.currency, lang) %>
                    </td>
                    <td>
                        <b><%- currency(p.brutto, p.currency, lang) %></b>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="checkout-message"></div>

    <div class="panel-body">
        <img class="pull-right" src="/images/simplepay.svg"></img><br>

        <form action='https://sandbox.simplepay.hu/payment/order/lu.php' method='POST' id='SimplePayForm' accept-charset='UTF-8'>
            <input type='hidden' name='LANGUAGE' id='LANGUAGE' value='<%= lang %>' />
            <input type='hidden' name='MERCHANT' id='MERCHANT' value='<%= f.MERCHANT %>' />
            <input type='hidden' name='ORDER_REF' id='ORDER_REF' value='<%= f.ORDER_REF %>' />
            <input type='hidden' name='ORDER_DATE' id='ORDER_DATE' value='<%= f.ORDER_DATE %>' />
            <input type='hidden' name='PRICES_CURRENCY' id='PRICES_CURRENCY' value='<%= f.PRICES_CURRENCY %>' />

            <!-- for-loop <% for(var i=0; i < p.items.length; i++) { %> <%= i %>-->

            <input type='hidden' name='ORDER_PNAME[]' id='ORDER_PNAME' value='<%= f.items[i].ORDER_PNAME %>' />
            <input type='hidden' name='ORDER_PCODE[]' id='ORDER_PCODE' value='<%= f.items[i].ORDER_PCODE %>' />
            <input type='hidden' name='ORDER_PINFO[]' id='ORDER_PINFO' value='<%= f.items[i].ORDER_PINFO %>' />
            <input type='hidden' name='ORDER_PRICE[]' id='ORDER_PRICE' value='<%= f.items[i].ORDER_PRICE %>' />
            <input type='hidden' name='ORDER_QTY[]' id='ORDER_QTY' value='<%= f.items[i].ORDER_QTY %>' />
            <input type='hidden' name='ORDER_VAT[]' id='ORDER_VAT' value='<%= f.items[i].ORDER_VAT %>' />

            <!--  end-loop <% } %> -->

            <input type='hidden' name='BILL_EMAIL' id='BILL_EMAIL' value='<%= f.BILL_EMAIL %>' />
            <input type='hidden' name='TIMEOUT_URL' id='TIMEOUT_URL' value='<%= f.BACK_REF %>' />
            <input type='hidden' name='BACK_REF' id='BACK_REF' value='<%= f.BACK_REF %>' />


            <input type='hidden' name='ORDER_SHIPPING' id='ORDER_SHIPPING' value='<%= f.ORDER_SHIPPING %>' />
            <input type='hidden' name='DISCOUNT' id='DISCOUNT' value='<%= f.DISCOUNT %>' />
            <input type='hidden' name='PAY_METHOD' id='PAY_METHOD' value='<%= f.PAY_METHOD %>' />

            <input type='hidden' name='ORDER_HASH' id='ORDER_HASH' value='<%= f.ORDER_HASH %>' />

            <button class="btn btn-primary" type='submit'>##&en Payment via Simplepay wallet or creditcard. ##&hu Fizetés Simplepay tárcával vagy bankkártyával. ##</button>
        </form>
    </div>
</div>
