<div class="container content-box-large">
    <h1>##&en PAYMENT ##&hu FIZETÉS ##</h1>
    <div class="panel-heading">
        <div class="panel-title"></div>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>##&en Quantity ##&hu Mennyiség ##</th>
                    <th>##&en Item name ##&hu Megnevezés ##</th>
                    <th>##&en Descrition ##&hu leírás ##</th>
                    <th>##&en Netto Unit Price ##&hu Nettó egységár ##</th>
                    <th>##&en VAT ##&hu ÁFA ##</th>
                    <th>##&en Brutto Total ##&hu Bruttó összesen ##</th>
                </tr>
            </thead>
            <tbody>


                <% for(var i=0; i < p.items.length; i++) {%>
                    <tr>
                        <td>
                            <%= p.items[i].qty %>
                                <%= p.items[i].unit %>
                        </td>
                        <td>
                            <%= p.items[i].name %>
                        </td>
                        <td>
                            <%= p.items[i].info %>
                        </td>
                        <td>
                            <%= currency(p.items[i].net, p.currency, lang) %>
                        </td>
                        <td>
                            <%= p.items[i].vat %>%
                        </td>
                        <td>
                            <%= currency(p.items[i].brutto_sum, p.currency, lang) %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>

    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>##&en TOTAL netto ##&hu ÖSSZESEN netto ##</th>
                    <th>##&en TOTAL vat ##&hu Áfa összesen ##</th>
                    <th>##&en TOTAL payment ##&hu Összesen fizetendő ##</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <%- currency(p.netto, p.currency, lang) %>
                    </td>
                    <td>
                        <%- currency(p.vatsum, p.currency, lang) %>
                    </td>
                    <td>
                        <b><%- currency(p.brutto, p.currency, lang) %></b>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="checkout-message"></div>


    <div>
        ##&en Barion is an offsite payment method, it will redirect to the barion website to enter creditcard details. ##&hu A barion offsite fizetési megoldásával oldalára irányítva fizethet bankártyával vagy barion tálcával ##
        <img class="pull-right" src="/images/barion-card-payment-mark-2017.svg"></img><br>
        <button id="barion-submit" class="btn btn-primary">##&en Payment via creditcard or with a Barion wallet. ##&hu Fizetés bankkártyával vagy a Barion tálcával. ##</button>
        <script>
            var barion_submit = document.querySelector('#barion-submit');
            barion_submit.addEventListener('click', function() {
                $('#barion-submit').remove();
                $('#checkout-message').html('<h2>##&en Please wait ##&hu kérem várjon ##</h2><p>##&en redirecting ##&hu átirányítás ##</p>');

                $.ajax({
                    type: 'POST',
                    url: '/barion-payment',
                    data: {}
                }).done(function(result) {
                    if (result.redirect) {
                        window.location = result.redirect;
                    } else {
                        console.log(result);
                        $('#checkout-message').html('<h2>Error</h2><p>Barion failed.</p>');
                    }
                });
            });
        </script>
    </div>

</div>